<div class="captureContent" *ngIf="showCam">
  <div>
    <webcam *ngIf="webcamImage==null"
      [trigger]="invokeObservable"
      (imageCapture)="captureImg($event)"
      [height]="30"
      [width]="40"
      [switchCamera]="nextWebcamObservable"
      [videoOptions]="videoOptions"
      [imageQuality]="1"
      (initError)="handleInitError($event)"
    ></webcam>
  </div>
  <div >
    <button class="btnCapture" (click)="getSnapshot()">
      Tomar Foto
    </button>
  </div>
</div>
<div class="captureContent" *ngIf="showCapture">
  <div id="results">
  </div>
  <img [src]="webcamImage.imageAsDataUrl" height="405px" />
  <button class="btnCapture" (click)="goToBack()">Guardar Imagen</button>
</div>

