.captureContent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0%;
}

h2{
  margin: 7px;
}

.btnCapture{
  background-color: #f8f538;
  border: #f8f538;
  color: #004422;
  margin-top: 7px;
}

.cuadro{
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .cuadro{
  width: 100%;
  background: rgba(255, 122, 89, 0);
  border:2px solid #000000;
} */

.centerImage{
  position:absolute;
  z-index: 100;
  border:2px solid #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 250px;
  /* top: 75%; */
  bottom: 50%;
}

@media (min-width: 768px){
.captureContent{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 0%;
}
}
