.captureContent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  position: relative;
}

.detector{
  position: relative;
}

h2{
  margin: 7px;
}

.btnCapture{
  background-color: #f8f538;
  border: #f8f538;
  color: #004422;
  margin-top: 7px;
}

.cuadro{
  position:absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerImage{
/*   position:absolute; */
  z-index: 100;
  /* border:2px solid #ffffff; */
  border:2px solid #000000;
  border-radius: 5px;
  width: 95%;
  height: 250px;
}

@media (min-width: 768px){
.captureContent{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 0%;
}
}
