<div class="selfieContent">
  <div class="numberPart">
    <h1><span class="circle">1</span></h1>
    <div class="linea"></div>
    <h1><span [ngClass]="showSelfie || dataMsgError? 'green' : 'circle'">2</span></h1>
    <div class="linea"></div>
    <h1><span [ngClass]="showResult? 'green' : 'circle'">3</span></h1>
  </div>

  <div *ngIf="showSelfie">

    <h2>Validación de foto de DNI</h2>

      <i class="fa-light fa-image-polaroid-user"></i>

      <div class="margin">
        <label>A. Tomar una foto de su rostro (Selfie) {{ markSelfie }}</label>
        <img class= "dniSelfie" src="../../../assets/selfie.jpg" alt="dniSelfie">
        <button class="btnInsert" (click)="goToCaptureSelfie()" >Insertar</button>
      </div>

      <div class="msgError">
        <label class="error" *ngIf="captureEmpty"
          >Debe ingresar una selfie</label
        >
      </div>

    <button class="btnSend" (click)="goToResult()">Siguiente</button>

  </div>

</div>

<div class="resultContent" *ngIf="showResult">

  <h2>Resultado</h2><br>

  <h4>Su DNI fue validado con éxito</h4><br>

  <button class="btnSend" (click)="endValid()">Finalizar</button>

</div>

<div class="resultContent" *ngIf="dataMsgError">
  <h2>Error</h2>
  <br />

  <div>
    <i class="fa-regular fa-face-frown-open" ></i>
  </div>
  <br />
  <h4>{{msgError}}</h4>
  <br />

  <button class="btnSend" (click)="goBackSelfie()">Volver a capturar selfie</button>
</div>



