.linea {
  border-top: 3px solid #004422;
  height: 2px;
  width: 25%;
  margin: 0% 3%;
}

.numberPart{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 5%;
}

.width{
  width: 95%;
}

.btnInsert{
  background-color: #f8f538;
  border: #f8f538;
  color: #004422;
}

.btnSend{
  background-color: #3cc666;
  border: #3cc666;
  color: #ffffff;
  float: right;
  margin: 0 5%;
}

input{
  margin: 5px;
  border: 2px solid #004422;
  border-radius: 5px;
  height: 50%;
}

span.green{
  background: #004422;
  border-radius: 0.8em;
  border: 2px solid #004422;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 color: #ffffff;
 display: inline-block;
 font-weight: bold;
 line-height: 1.6em;
 text-align: center;
 width: 1.6em;
}

span.circle{
  border-radius: 0.8em;
  border: 2px solid #004422;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 color: #004422;
 display: inline-block;
 font-weight: bold;
 line-height: 1.6em;
 text-align: center;
 width: 1.6em;
}

h2{
  text-align: center;
  margin: 0%;
}

.margin{
  margin: 5% 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resultContent{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3%;
}

.captura{
  width: 80%;
}

.error{
  color: red;
  font-weight: bold;
}

.msgError{
  display: flex;
  justify-content: center;
}

.dniSelfie{
  width: 10%;
}

@media (max-width: 768px){
  .dniSelfie {
    margin: 0% 3%;
  }
}
