.linea {
  border-top: 3px solid #004422;
  height: 2px;
  width: 25%;
  margin: 0% 3%;

}
.info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 1% 5%;
  padding: 0% 7%;
}

.numberPart{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 5%;
}

.btnInsert{
  background-color: #f8f538;
  border: #f8f538;
  color: #004422;
}

.btnSend{
  background-color: #3cc666;
  border: #3cc666;
  color: #ffffff;
  float: right;
  margin: 0 5%;
}

input{
  margin: 5px;
  border: 2px solid #004422;
  border-radius: 5px;
  width: 30%;
}

span.green{
  background: #004422;
  border-radius: 0.8em;
  border: 2px solid #004422;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 color: #ffffff;
 display: inline-block;
 font-weight: bold;
 line-height: 1.6em;
 text-align: center;
 width: 1.6em;
}

span.circle{
  border-radius: 0.8em;
  border: 2px solid #004422;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 color: #004422;
 display: inline-block;
 font-weight: bold;
 line-height: 1.6em;
 text-align: center;
 width: 1.6em;
}

h2{
  text-align: center;
  margin: 0%;
}

.margin{
  margin: 2% 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dniFrontal{
  width: 10%;
  border-radius: 4px;

}

.dniPosterior{
  width: 10%;

}

.error{
  color: red;
  font-weight: bold;
}

.msgError{
  display: flex;
  justify-content: center;
}

@media (max-width: 768px){
  .dniFrontal, .dniPosterior {
    width: 25%;
    margin: 0% 3%;
  }

  .info{
    margin: 1%;
    padding: 0%;
  }
}

