<div class="instructionsContent">
<h1>Instrucciones</h1>
<p>
  Lorem ipsum dolor sit amet. Ut molestiae optio ab officiis officiis quo expedita molestiae et tempore quas.
  Est facere dignissimos et maiores magni hic aspernatur soluta sit saepe eaque.
</p>
 <ol>
  <li>Et accusamus sapiente ut quia numquam sit cupiditate porro? </li>
  <li>Vel facilis dolor id fuga recusandae et vero optio qui ipsam laudantium? </li>
  <li>Et accusamus doloremque At laudantium enim vel corporis odit. </li>
  <li>Eum repellat ducimus ut tempora expedita sit rerum accusamus aut pariatur placeat? </li>
</ol>
<p>Aut quaerat quas in sint labore ut quibusdam quia est necessitatibus voluptatem.
  Et tempora saepe non officiis ratione sit dolores dolor cum consectetur mollitia eum iste consequatur in doloremque perspiciatis.
</p>
<button (click)="goToPart1()">Iniciar Validación de Documento</button>
</div>
